<p><%= @guest.email_safe_salutation %></p>

<% if @guest.attending %>
<p>Alig várjuk, hogy találkozzunk! !</p>
<p>A Cím:</p>
<address><%= render partial: 'application/wedding_address' %></address>

<h3>Regisztrációdról</h3>
<p>Ha szeretnéd a regisztrációd megtekinteni vagy frissíteni, akkor ezen linken tudod megtenni:</p>
<p><%= link_to guest_url(@guest), guest_url(@guest) %></p>

<h3>Sending a Card?</h3>
<p>If you need it, our mailing address is:</p>
<address><%= render partial: 'application/mailing_address' %></address>

<h3>Kérdések és Válaszok</h3>
<p>Kérjük később is nézz vissza <%= link_to 'our wedding website', root_url %> újabb infókért. Kérdés/kérés esetén nyugodtan keress minket, akár telefonon, akár emailben (erre a levélre válaszolva).</p>
<% else %>
<p>Nagyon sajnáljuk hogy nem tudsz jönni, ha esetleg később meggondolnád magad, az alábbi linken módosíthatod részvételed::</p>
<p><%= link_to guest_url(@guest), guest_url(@guest) %></p>
<p>Reméljük, hogy hamarosan találkozunk!</p>
<% end %>

<p>&nbsp;</p>
<p><%= t :wedding_couple_names %></p>
