<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <%= render partial: 'guests/leader' %>
      <%= render partial: 'guests/rsvp_nav', locals: { active: 2 } %>

      <h2>+1</h2>
      <p>Kérlek add meg, hogy kivel érkeztek az esküvőre. Amennyiben gyermeket is hozol, kérlek jelezd nekünk (12. éven aluliak)
      <p>&nbsp;</p>

      <% if @plus_ones.any? %>
        <%= render @plus_ones %>
      <% else %>
        <p>Nem adtál hozzá további vendéget. Biztosan egyedül érkezel?</p>
      <% end %>
      <p>
        <%= link_to '+1', new_guest_plus_one_path(@guest), class: 'btn btn-primary', data: { disable_with: 'Loading...' } %>
      </p>

      <p>&nbsp;</p>
      <p class="guests-buttons">
        <%= link_to 'Folytatás', confirm_guest_path(@guest), class: 'btn btn-primary' %>
      </p>
    </div>
  </div>
</div>
